Since my pc couldn't connect to wiki directly, I downloaded the html page through a VPN and save it locally. Pandas read the table from this locally saved html page.

In [16]:
import pandas as pd
url='file:///C:/Users/glp_a/OneDrive/Confidential/IBM%20DATA%20SCIENCE/Capstone/List%20of%20postal%20codes%20of%20Canada_%20M%20-%20Wikipedia.html'
df=pd.read_html(url, header=0)[0]
df.head()

  Postal Code       Borough                                      Neighbourhood
0         M9Z  Not assigned                                       Not assigned
1         M9Y  Not assigned                                       Not assigned
2         M9X  Not assigned                                       Not assigned
3         M9W     Etobicoke                Northwest, West Humber - Clairville
4         M9V     Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...

Check size of original table

In [17]:
df.shape

(180, 3)

Drop lines with a borough that is Not assigned, then check size.

In [23]:
df.drop(df[df['Borough']=='Not assigned'].index,axis=0,inplace=True)
df.shape

In [25]:
df.head()

  Postal Code    Borough                                      Neighbourhood
3         M9W  Etobicoke                Northwest, West Humber - Clairville
4         M9V  Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
7         M9R  Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
8         M9P  Etobicoke                                          Westmount
9         M9N       York                                             Weston

Merge different neighbourhoods with the same postal code into one row, seprated by ','.

In [51]:
df1 = df.groupby(['Postal Code','Borough'])['Neighbourhood'].agg(','.join).reset_index()
df1.head()

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [37]:
df1.shape

(103, 3)

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [52]:
neiglist=[]
for bor,neig in zip(df1['Borough'],df1['Neighbourhood']):
    if neig == 'Not assigned':
        neiglist.append(bor)
    else:
        neiglist.append(neig) 
df1['Neighbourhood']=neiglist

In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe

In [53]:
print('Now there\'s',df1.shape[0],'rows in the dataframe' )

Now there's 103 rows in the dataframe